/*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/*  Project      : La Petite Ébénisterie en Herbe
    Context      : showcase website of a starting business in Ardèche, France,
                   specializing in the design & manufacturing of wooden furnitures & objects
    File         : apropos.php
    Role         : css for the "À Propos" page of the website
    Author       : Frédéric DANIAU
    Creation     : 2023-06-04
    Last update  : 2021-06-06
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/* COLORS

*/
/* *** * FONTS * *** */

/* *** * CONTAINERS * *** */
#apropos-main {
    border: 3px solid #000;
    margin: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../../media/backgrounds/whitewood01.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
    border: 3px solid #000;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #444;
}
/* *** * MAIN * *** */
#apropos-img {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: "Finger Paint";
    color: #182818;
    text-shadow: 2px 2px 2px #ca9c51;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 120px;
}
#apropos-img img {
    margin: 10px;
    max-height: 500px;
    border: none;
    border-radius: 140px;
}
#apropos-text {
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    display: flex;
}
#apropos-text p {
    background-color: #182818;
    align-items: center;
    word-wrap: break-word;
    font-family: "Crafty Girls";
    font-size: 26px;
    text-align: justify;
    color: #ca9c51;
    text-shadow: #000;
    display: inline-block;
    padding: 20px 30px;
    text-indent: 20px;
    border: none;
    border-radius: 70px;
}
#apropos-text p::first-letter {
    font-size: 30px;
    color: #92ca51;
    margin: 0 auto;
}
#estampille-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182818;
    padding-right: 50px;
    border: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: "Crafty Girls", incursive;
    font-size: 26px;
    color: #ca9c51;
    text-shadow: 1px 1px #000;
    text-align: left;
    vertical-align: middle;
}
#estampille-text img {
    width: 15%;
    margin-left: 30px;
    padding: 30px;
    border: none;
}
/* *** * BUTTONS * *** */
/* *** * CONTENT * *** */
/* *** * IMAGES * *** */
/* *** * FORMS * *** */
/* *** * TABLES * *** */
/* *** * ANIMATIONS * *** */
/* *** * MEDIA QUERIES * *** */
@media screen and (max-width: 1350px) {
    #apropos-img {
        font-size: 32px;
        line-height: 2em;
    }
    #apropos-img img {
        max-width: 500px;
    }
    #estampille-text img {
        width: 25%;
    }
    #estampille-text {
        font-size: 24px;
        text-align: justify;
        padding-right: 20px;
    }
}
@media screen and (max-width: 1200px) {
    #apropos-img {
        font-size: 30px;
    }
    #apropos-img img {
        max-width: 350px;
    }
    #apropos-text p {
        font-size: 18px;
    }
    #apropos-text p::first-letter {
        font-size: 20px;
    }
    #estampille-text img {
        width: 30%;
    }
    #estampille-text {
        font-size: 24px;
    }
}
@media screen and (max-width: 1024px) {
    #apropos-img {
        font-size: 26px;
    }
    #apropos-img img {
        max-width: 300px;
    }
    #apropos-text p {
        font-size: 18px;
    }
    #apropos-text p::first-letter {
        font-size: 20px;
    }
    #estampille-text img {
        width: 35%;
    }
    #estampille-text {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    #apropos-img {
        font-size: 20px;
    }
    #apropos-img img {
        max-width: 200px;
    }
    #apropos-text p {
        font-size: 14px;
    }
    #apropos-text p::first-letter {
        font-size: 12px;
    }
    #estampille-text {
        padding: 6px;
        font-size: 16px;
        text-align: center;
    }
    #estampille-text img {
        width: 30%;
        margin: 0;
        padding: 2px;
    }
}
@media screen and (max-width: 480px) {
    #apropos-img {
        font-size: 16px;
        line-height: normal;
    }
    #apropos-img img {
        max-width: 100px;
    }
    #apropos-text p {
        font-size: 11px;
    }
    #apropos-text p::first-letter {
        font-size: 12px;
    }
    #estampille-text {
        padding: 4px;
        font-size: 10px;
    }
    #estampille-text img {
        width: 40%;
        margin: 0;
        padding: 2px;
    }
}
@media screen and (max-width: 320px) {

}