/*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/*  Project      : La Petite Ébénisterie en Herbe
    Context      : showcase website of a starting business in Ardèche, France,
                   specializing in the design & manufacturing of wooden furnitures & objects
    File         : contacts.css
    Role         : css for the "Contacts" page of the website
    Author       : Frédéric DANIAU
    Creation     : 2023-06-04
    Last update  : 2021-06-06
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/* COLORS

*/
/* *** * FONTS * *** */

/* *** * CONTAINERS * *** */
#contacts-main {
    width: 70%;
    margin: 20px auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../../media/backgrounds/whitewood01.jpeg");
    background-size: cover;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #444;
    padding: 40px;
    padding-left: 5%;
}
.contacts-item {
    background: url("../../media/backgrounds/lightwood_02.jpg");
    display: flex;
    justify-content: left;
    align-items: space-between;
    margin: 20px 5%;
    padding: 20px;
    color: #182818;
    text-shadow: 1px 1px #000;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 3px 2px 4px #182818;
}
/* *** * MAIN * *** */
.social-icon {
    margin-right: 20px;
    font-size: 30px;
}
.social-name {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Calistoga";
    font-size: 24px;
    letter-spacing: 0.15em;
}
.social-phone {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Crafty Girls", cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.125em;
}
.social-mail {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-mail a{
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-variant: normal;
    vertical-align: middle;
}
.social-link {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* *** * BUTTONS * *** */
/* *** * CONTENT * *** */
/* *** * IMAGES * *** */
/* *** * FORMS * *** */
/* *** * TABLES * *** */
/* *** * ANIMATIONS * *** */
@keyframes contact-blink {
    0% {
        color: #182818;
        text-shadow: 2px 2px #ca9c51;
    }
    50% {
        color: #331b00;
        text-shadow: 1px 1px #182818;
    }
    100% {
        color: #182818;
        text-shadow: 2px 2px #ca9c51;
    }
}
/* *** * MEDIA QUERIES * *** */
@media screen and (max-width: 1200px) {
    #contacts-main {
        margin: 10px auto;
        padding: 15px;
    }
    .contacts-item {
        margin: 10px auto;
        padding: 10px;
        text-shadow: none;
    }
    .social-icon {
        font-size: 24px;
        margin-right: 10px;
    }
    .social-name {
        font-size: 18px;
    }
    .social-phone {
        font-size: 18px;
    }
    .social-mail a{
        font-size: 18px;
        text-shadow: none;
    }
  }
@media screen and (max-width: 992px) {
    #contacts-main {
        width: 85%;
        margin: 5px auto;
        padding: 10px;
    }
    .contacts-item {
        margin: 10px auto;
        padding: 10px;
        text-shadow: none;
    }
    .social-icon {
        font-size: 22px;
        margin-right: 10px;
    }
    .social-name {
        font-size: 16px;
    }
    .social-phone {
        font-size: 16px;
    }
    .social-mail a{
        font-size: 16px;
        text-shadow: none;
    }
}
@media screen and (max-width: 768px) {
    #contacts-main {
        width: 85%;
        margin: 5px auto;
        padding: 10px;
    }
    .contacts-item {
        margin: 10px auto;
        padding: 10px;
        text-shadow: none;
    }
    .social-icon {
        font-size: 20px;
        margin-right: 10px;
    }
    .social-name {
        font-size: 14px;
    }
    .social-phone {
        font-size: 14px;
    }
    .social-mail a{
        font-size: 14px;
        text-shadow: none;
    }
}
@media screen and (max-width: 576px) {
    #contacts-main {
        width: 90%;
        margin: 5px auto;
        padding: 10px;
    }
    .contacts-item {
        margin: 5px auto;
        padding: 10px;
        text-shadow: none;
    }
    .social-icon {
        font-size: 18px;
        margin-right: 10px;
    }
    .social-name {
        font-size: 12px;
    }
    .social-phone {
        font-size: 12px;
    }
    .social-mail a{
        font-size: 12px;
        text-shadow: none;
    }
}
@media screen and (max-width: 480px) {
    #contacts-main {
        width: 90%;
        margin: 5px auto;
        padding: 10px;
    }
    .contacts-item {
        margin: 5px auto;
        padding: 5px;
        text-shadow: none;
    }
    .social-icon {
        font-size: 16px;
        margin-right: 10px;
    }
    .social-name {
        font-size: 9px;
    }
    .social-phone {
        font-size: 12px;
    }
    .social-mail a{
        font-size: 9px;
        text-shadow: none;
    }
}
@media screen and (max-width: 360px) {

}