/*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/*  Project      : La Petite Ébénisterie en Herbe
    Context      : showcase website of a starting business in Ardèche, France,
                   specializing in the design & manufacturing of wooden furnitures & objects
    File         : index.php
    Role         : home page of the website
    Author       : Frédéric DANIAU
    Creation     : 2023-06-03
    Last update  : 2021-06-03
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/
/* COLORS

*/
/* *** * CONTAINERS * *** */
body {
    background-color: rgb(84, 167, 121);
}
/* *** * HEADER * *** */
/* *** * MAIN * *** */
/* *** * FOOTER * *** */

/* *** * NAVIGATION * *** */
/* *** * BUTTONS * *** */
/* *** * CONTENT * *** */
/* *** * IMAGES * *** */
/* *** * FORMS * *** */
/* *** * TABLES * *** */

/* *** * MEDIA QUERIES * *** */
/* *** * ANIMATIONS * *** */
